.cardapioCategoria {
    justify-content: center;
}

.cardapioCategoria h3 {
    justify-content: center;
}

.cardapioCategoria ul {
    display: flex;
    column-gap: 32px;
    justify-content: center;
}