#text {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #777777;
  }
  
  .header {
    padding-left: 20px;
    align-items: center;
    margin-inline: 16px;
  }

  #button {
    --mdc-theme-primary: #FEDBD0;
    --mdc-theme-on-primary: #442C2E;
    position: fixed;
    text-align: right;
    }

