.menu {
    display: flex;
    column-gap: 56px;
    padding: 0px 20px;
}

.menu a {
    align-items: center;
    justify-content: center;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a.active {
    border-bottom: 1px solid red;
}