 @use "@material/theme" with (
  $primary: #FEDBD0,
  $on-primary: #442C2E,
  $cor-fundo: #36393F,
  $cor-produto: #51545A
);

@use "@material/button";

body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 28px;
  // color: rgb(144, 109, 109);
  color: #FFF;
  background-color: #36393ff9;
  background-image: url('../public/imagens/bg.jpg');
  background-size: cover;
}

#buttonApp{
  --mdc-theme-primary: #FEDBD0;
  --mdc-theme-on-primary: #442C2E;
}

#body {
  justify-content: center;
}

.apresentacao{
  display: flex;
  justify-content: space-between; 
  position: fixed;
  z-index: 100;
}

.contato{
  display: flex;
  width: 600px;
  margin: 0 auto;
  background-color: #000016;
  padding: 0 20px 20px 20px;
}

.mapaContato{
  display: flex;
}

.mapa{
  border-style: none;
  flex-grow: 1;
}
